{:camera {:features ["Flash" "Video"], :primary "5.0 megapixels"},
 :sizeAndWeight
 {:dimensions ["64.2 mm (w)" "125.0 mm (h)" "9.97 mm (d)"],
  :weight "118.0 grams"},
 :display
 {:screenResolution "WVGA (800 x 480)",
  :screenSize "4.0 inches",
  :touchScreen true},
 :storage {:flash "2048MB", :ram "512MB"},
 :images
 ["img/phones/samsung-showcase-a-galaxy-s-phone.0.jpg"
  "img/phones/samsung-showcase-a-galaxy-s-phone.1.jpg"
  "img/phones/samsung-showcase-a-galaxy-s-phone.2.jpg"],
 :name "Samsung Showcase™ a Galaxy S™ phone",
 :battery
 {:standbyTime "800 hours",
  :talkTime "7 hours",
  :type "Lithium Ion (Li-Ion) (1500 mAH)"},
 :connectivity
 {:bluetooth "Bluetooth 3.0",
  :cell "3G : 900MHz/1900MHz\nCDMA : 800MHz/1900MHz",
  :gps true,
  :infrared false,
  :wifi "802.11 b/g/n"},
 :availability ["Cellular South"],
 :hardware
 {:accelerometer true,
  :audioJack "3.5mm",
  :cpu "1 GHz",
  :fmRadio false,
  :physicalKeyboard false,
  :usb "USB 2.0"},
 :android {:os "Android 2.1", :ui "TouchWiz"},
 :additionalFeatures "Swype",
 :id "samsung-showcase-a-galaxy-s-phone",
 :description
 "Experience entertainment in a whole new light. The stylish and slim Samsung Showcase™, with its vivid 4-inch Super AMOLED™ display, makes everything from Hollywood blockbusters to music videos to Amazon’s bestsellers look absolutely brilliant – even outside in the sun. Android™ Market rockets you into a universe filled with equally brilliant apps; download them at blistering speeds thanks to the powerful 1GHz Hummingbird processor. Keep your social life organized and continuously updated with the pre-loaded social networking apps, while uploading all the 5.0MP pics you’ve snapped and 720p HD videos you’ve recorded"}
