{:camera {:features ["Video"], :primary "3.0 megapixels"},
 :sizeAndWeight
 {:dimensions ["63.0 mm (w)" "109.0 mm (h)" "13.3 mm (d)"],
  :weight "130.0 grams"},
 :display
 {:screenResolution "WVGA (800 x 480)",
  :screenSize "3.7 inches",
  :touchScreen true},
 :storage {:flash "", :ram ""},
 :images
 ["img/phones/motorola-bravo-with-motoblur.0.jpg"
  "img/phones/motorola-bravo-with-motoblur.1.jpg"
  "img/phones/motorola-bravo-with-motoblur.2.jpg"],
 :name "MOTOROLA BRAVO™ with MOTOBLUR™",
 :battery
 {:standbyTime "216 hours",
  :talkTime "6 hours",
  :type "Lithium Ion (Li-Ion) (1540 mAH)"},
 :connectivity
 {:bluetooth "Bluetooth 2.1",
  :cell
  "WCDMA 850/1900, GSM 850/900/1800/1900, HSDPA 7.2 Mbps (Category 7/8), EDGE Class 12, GPRS Class 12, HSUPA 2.0 Mbps",
  :gps true,
  :infrared false,
  :wifi "802.11 b/g/n"},
 :availability ["AT&amp;T"],
 :hardware
 {:accelerometer true,
  :audioJack "3.5mm",
  :cpu "800 Mhz",
  :fmRadio true,
  :physicalKeyboard false,
  :usb "USB 2.0"},
 :android {:os "Android 2.1", :ui "MOTOBLUR™"},
 :additionalFeatures
 "Adobe® Flash® Lite® 3, DNLA, CrystalTalk™ PLUS technology",
 :id "motorola-bravo-with-motoblur",
 :description
 "MOTOROLA BRAVO™ with MOTOBLUR™ with its large 3.7-inch touchscreen and web-browsing capabilities is sure to make an impression.  And it keeps your life updated and secure through MOTOBLUR."}
