{:camera {:features ["Flash" "Video"], :primary "3.0 megapixels"},
 :sizeAndWeight
 {:dimensions ["61.5 mm (w)" "117.0 mm (h)" "15.3 mm (d)"],
  :weight "148.0 grams"},
 :display
 {:screenResolution "HVGA (480 x 320)",
  :screenSize "3.5 inches",
  :touchScreen true},
 :storage {:flash "180MB", :ram "384MB"},
 :images
 ["img/phones/samsung-transform.0.jpg"
  "img/phones/samsung-transform.1.jpg"
  "img/phones/samsung-transform.2.jpg"
  "img/phones/samsung-transform.3.jpg"
  "img/phones/samsung-transform.4.jpg"],
 :name "Samsung Transform™",
 :battery
 {:standbyTime "930 hours",
  :talkTime "9 hours",
  :type "Lithium Ion (Li-Ion) (1500 mAH)"},
 :connectivity
 {:bluetooth "Bluetooth 2.1",
  :cell "800Mhz, 1900MHz",
  :gps true,
  :infrared false,
  :wifi "802.11 b/g/n"},
 :availability ["Sprint"],
 :hardware
 {:accelerometer true,
  :audioJack "3.5mm",
  :cpu "800 MHz",
  :fmRadio false,
  :physicalKeyboard true,
  :usb "USB 2.0"},
 :android {:os "Android 2.1", :ui "Stock Android + Sprint ID Pack"},
 :additionalFeatures
 "Access to Sprint ID Service Packs, front and rear facing cameras\n",
 :id "samsung-transform",
 :description
 "Change your perspective.  The Samsung Transform™ is an Android powered device that delivers the truly customizable experience you want your phone to provide.  Enjoy a new and easy way to personalize your device for business or for entertainment, showcasing your own favorite theme and more through the new open software platform and the ability to download individual ‘Sprint ID Service Packs’ that combine and deliver multiple content items and applications specifically for the features you want.  Combine this with the 3.5” touch display, QWERTY keyboard, high-speed processor, and both a front and rear facing camera to bring your unique mobile experience to life."}
