{:camera {:features [""], :primary "3.0 megapixels"},
 :sizeAndWeight
 {:dimensions ["55.5 mm (w)" "113.0 mm (h)" "12.4 mm (d)"],
  :weight "110.0 grams"},
 :display
 {:screenResolution "WQVGA (400 x 240)",
  :screenSize "3.2 inches",
  :touchScreen true},
 :storage {:flash "220MB", :ram "256MB"},
 :images
 ["img/phones/samsung-gem.0.jpg"
  "img/phones/samsung-gem.1.jpg"
  "img/phones/samsung-gem.2.jpg"],
 :name "Samsung Gem™",
 :battery
 {:standbyTime "800 hours",
  :talkTime "7 hours",
  :type "Nickel Cadmium (NiCd) (1500 mAH)"},
 :connectivity
 {:bluetooth "Bluetooth 3.0",
  :cell "3G/CDMA : 850MHz/1900MHz\n",
  :gps true,
  :infrared false,
  :wifi "802.11 b/g"},
 :availability ["Cellular South"],
 :hardware
 {:accelerometer true,
  :audioJack "3.5mm",
  :cpu "800 MHz",
  :fmRadio false,
  :physicalKeyboard false,
  :usb "USB 2.0"},
 :android {:os "Android 2.1", :ui "TouchWiz"},
 :additionalFeatures
 "3.2” Full touch screen with Advanced anti smudge, anti reflective and anti scratch glass; Swype text input for easy and fast message creation; multiple messaging options, including text with threaded messaging for organized, easy-to-follow text; Social Community support, including Facebook and MySpace; Next generation Address book; Visual Voice Mail\n",
 :id "samsung-gem",
 :description
 "The Samsung Gem™ maps a route to a smarter mobile experience. By pairing one of the fastest processors in the category with the Android™ platform, the Gem delivers maximum multitasking speed and social networking capabilities to let you explore new territory online. A smart phone at an even smarter price is a real find, so uncover the Gem and discover what’s next."}
